<!DOCTYPE html>
<html>
  <head>
    <title>Simple Rails App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <nav>
  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Log in", user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
